html {
	width: 100%;
	height: 100%;
}

#bodyContainer {
	margin: 0 70px;
}
body {
	background: url('https://static.pexels.com/photos/139306/pexels-photo-139306.jpeg');
	background-size: cover;
	background-position: 0px -20px;
}

#navbarContainer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 170, 128, 0.6);
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 90%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-family: 'Lobster';
	height: 12%;
	text-align: center;
}

.navMenuContainer {
	font-size: 2.5em;
	display: inline-block;
	float: left;
	padding: 0 10px;

}
a {
	display: block;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	color: #662200;
	height: 40%;
}

a:hover {
	background-color: rgba(255, 170, 128, 1);
	border-radius: 10px;
	transition: background-color 0.5s;
}

li:last-child {
	border-right: none;
}

p {
	font-size: 1.8em;
	margin-top: 9.5%;
	color: #661a00;
}
