html {
	height: 200%;
	padding: 0;
	margin: 0;
	width: auto;
	background-color: #000000;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	height: 170%;
	width: auto;
	margin: 0 5% 0 5%;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	-webkit-text-stroke: 6px white;
	font-weight: bold;
	font-family: 'Sigmar One', cursive;
	font-size: 8vw;
	opacity: 0;
	animation-name: h1FadeIn;
	animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes h1FadeIn {
	0% {opacity: 0;}
	25% {opacity: 0.25;}
	50% {opacity: 0.5;}
	75% {opacity: 0.75;}
	100% {opacity: 1;}
}



.templetImg {
	position: absolute;
	left: 35vw;
	opacity: 0;
}

.blackImg {
	animation-name: blFadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes blFadeIn {
	0% {opacity: 0;}
	10% {opacity: 0;}
	25% {opacity: 0.3;}
	50% {opacity: 0.5;}
	75% {opacity: 0.6;}
	100% {opacity: 1;}
}

.mainImg {
	animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	10% {opacity: 0;}
	25% {opacity: 0.3;}
	50% {opacity: 0.5;}
	75% {opacity: 0.6;}
	100% {opacity: 1;}
}

.fireImg {
	animation-name: fireLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.stormImg {
	animation-name: stormRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes fireLeft {
	0% {opacity: 1;}
	100% {left: 25vw; opacity: 1;}

}

@keyframes stormRight {
	0% {opacity: 1;}
	100% {left: 45vw; opacity: 1;}
}

#barWrapper {
	display: inline-block;
	text-align: center;
}

#bar {
	text-align: center;
	display: inline-block;
}

#imgWrapper {
	height: 80vh;
	display: block;
}

@media screen and (max-width: 500px) {
	.templetImg {
		position: absolute;
		left: 20vw;
	}

	@keyframes fireLeft {
	0% {opacity: 1;}
	100% {left: 10vw; opacity: 1;}

	}

	@keyframes stormRight {
		0% {opacity: 1;}
		100% {left: 30vw; opacity: 1;}
	}
}

@media screen and (max-width: 800px) {
	.templetImg {
		position: absolute;
		left: 28vw;
	}

	@keyframes fireLeft {
	0% {opacity: 1;}
	100% {left: 18vw; opacity: 1;}

	}

	@keyframes stormRight {
		0% {opacity: 1;}
		100% {left: 38vw; opacity: 1;}
	}
}
