#bodyContainer {
	margin: 0 5% 0 5%;
}
body {
	margin: 0;
	padding: 0;
	background-image: url(https://static.pexels.com/photos/270360/pexels-photo-270360.jpeg);
	background-repeat: no-repeat;
	background-size: inherit;
	background-position: -35em 0;
}

#navbarContainer {
	list-style-type: none;
	margin: 0 0 0 4em;
	padding: 0;
	background-color: rgba(51, 51, 51, 0.8);
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 10%;
	width: 70%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 3.3em;
	font-family: 'Play', sans-serif;
	text-align: center;
	display: block;
}

ul>.navMenuContainer {
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 0 2%;

}
a {
	display: block;
	text-decoration: none;
	color: #e6e6e6;
}

a:hover {
	background-color: rgba(0, 0, 0, 1);
	border-radius: 10px;
	transition: background-color 0.5s;
}

li:last-child {
	border-right: none;
}

p {
	font-size: 1.8em;
	margin-top: 9.5%;
	color: #661a00;
}
